*{
	/*outline: 1px solid red;*/
}
h1{
	color: #252773;
}
h3{
	color: grey;
}
.bottom{
	margin-bottom: 5em;
}
.marTop{
	margin-top: 1em;
}
.right{
	float: right;
}
.container-fluid{
	background-color: #252773;
}
.ui-collapsible-heading-toggle{
	background-color: #5154D0!important;
}

.link{
	color: grey;
	font-weight: bolder;
	font-size: 85%;
}
#checkbox-1-a{
	background-color: red;
}
.scoreboard{
	border:1px solid white;
}
.graph{
	text-align: center;
}
.graph svg{
	margin-bottom: 1em;
	/*padding-bottom: 5em;*/
}
#header{
	background-color: #252773
}
.space{
	margin-top: 22%;
}
.uniform{
	width: 85%;
	margin-left: 5%;
}
.info{
	color: #5154D0;
}
