/*//HOME CSS*/
*{
	/*outline: 1px solid red;*/
}
.goal,.current{
	text-align: center;
	width: 100%;
	height: 10em;
	height: 5em;
	padding: 0;
}
/*.strong,.weak{
	margin: 0;
}*/
.warnings{
	text-align: center;
	background-color: #0C0C48;
	height: 10.5em;
}
.warnings ul li a{
	text-decoration: none;
}
.bad{
   color: red!important;
   font-size: 13px;
}
.good{
  color: green!important;
  font-size: 13px;
}
.attention{
	color: white;
	font-size: 1em;
	font-weight: 900;
	text-decoration: underline;
}
.spaceB{
	margin-bottom: 10%;
}
#chart1, svg {
  margin: 0px;
  height: 100%;
  width: 100%;
}
svg:nth-child(1){
  padding: 12px;
}
.nv-legend-text{
	font-size: 1.8em!important;
}
text{
	font-size: 1.9em!important;
}
hr{
	width: 80%;
	border: 1px solid #252773;
}
.marTop{
	margin-top: 25%!important;
}
.mar4Score{
	margin-top: 2%;
}
.ui-btn{
	background-color: #5154D0!important;
	background:#5154D0!important;
	color: #252773;
	border-color: #252773;
}
.ui-btn:hover{
	color: white;
}
#panel-overlay1{
	background-color: #252773;
}
.ui-checkbox-on.ui-btn-b:after{
	background-color: #252773!important;
}
.nav_btn{
	background:none;
	background-color: #252773
}
.links{
	border:1.5px solid #50518C;
	height: 4.3em;
}
.links:hover{
	background-color: #5154D0;
}
.alertNum{
	position: relative;
	left: 1em;
	top: .5em;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: red;
  border-radius: 10px;
}
.alertInbox{
	position: relative;
	left: 1em;
	top: .5em;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: red;
  border-radius: 10px;	
}
.outer{
	background-color: #252773;
	padding: 0;
	border-radius: 8px;
	overflow: hidden;
}
.container-header{
	background-color: #0C0C48;
	text-align: center;
	color: white;
	padding-top: 1.5%;
	padding-bottom: 1%;
}
#name{
	background-color: #252773;
	color: white;
	font-weight: bolder;
}
ul li{
	list-style: none;
}
#goalGpa,#currentGpa{
	font-weight: bolder;
	font-size: 1.5em;
}
ul li a{
	font-size: 13px;
}

/*//SWIPE-PAGE CSS*/

.ui-content{
	width: 85%;
	margin-left: 7%;
	overflow: hidden;

}

.demo-page {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.ui-bar-b{
	background:#252773;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #5154D0;
}
img{
	width: 75%;
	height: auto;
}
.strings{
	color: white;
}
.noPad{
	padding: 0;
}
.ui-header-fullscreen{
	opacity: 1;
}
.team{
	color: grey;
	font-size: .6em;
}
.team a:hover{
	color: black;
}
/*/////ALERT PAGE CSS///////////////////////////////////*/
.ui-flipswitch-active{
	background-color: #5154D0!important;
	border-color:#252773!important; 
}
.cusGoal{
	font-size: bolder;
}
.cusGoal strong{
	font-size: 1.2em
}
.base{
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
}
.cen{
	float: right;
}


/*//CLASS CSS///////////////////////////////////////////*/
h1{
	color: #252773;
	text-align: center;
}
h3{
	color: grey;
}
.bigger{
	font-size: 1.5em;
	font-weight: bolder;
}
.container-fluid{
	background-color: #252773;
}
.ui-collapsible-heading-toggle{
	background-color: #5154D0!important;
}
.scoreboard{
	border:2px solid #5154D0;
}
.graph{
	text-align: center;
}
.graph svg{
	/*margin-bottom: 1em;*/
}
.space{
	margin-top: 22%;
}
.uniform{
	width: 85%;
	margin-left: 5%;
}
optgroup, option{
	background-color: #5154D0;
}
.noMar{
	margin-bottom: 0;
}
.lilMar{
	/*margin-left: 7%;*/
}
.ui-field-contain{
	padding-bottom: 0;
}
.ui-page { -webkit-backface-visibility: hidden; }
.listview li a{
	color: #252773;
}
#fillgauge1{
	padding-left: 30%;
	width: 100%;
}
/*//INBOX//////////////////////////////////////////////////////////*/

.newMessages{
	margin-top: 0;
	padding-bottom: 20px;
	text-align: center;
	font-weight: bolder;
	color: #252773;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
	background-color: none!important;
	border-color: none!important;
	color: white!important;
	text-shadow:none!important;
}
#logo{
	width: 75%;
	height: auto;
}
.evenInbox{
	background-color: #2F2B2F;
}
#font-color{
	color: #252773;
	text-shadow:none;
}
.topic{
	color: white;
	text-shadow:none!important;
}
.message{
	width: 100%!important;
}
.marB{
	margin-bottom: 20%;
}
.noFloat{
	float: none;
}
p{
	color: white;
	text-shadow:none;
}
.navbar-default{
	background-color: #252773;
	border-color:#5154D0;
}
.reply{
	margin-top: 2em; 
	margin-bottom: 5em;
}

/*//PROFILE CSS///////////////////////////////*/

.carousel-indicators .active{
    position: relative;
    left: 15em;
    top: -22em;
    color: blue;
  
}
.carousel-indicators li{
    position: relative;
    left: 15em;
    top: -22em;
    color: blue; 
}
.carousel-control{
  right:150%;
}
/*/////*/
.top{
	margin-top: 22%;
}
.bottom{
	margin-bottom: 5em;
}

#stu{
	width: 100%;
	height: auto;
	border:1px solid grey;
	border-radius: 15px;
}
.proName{
	text-align: center;
}
.back{
	background-color: #252773;
}
.across{
	width: 100%;
}
.noPadRL{
	padding-right: 0!important;
	padding-left:  0!important;
}
.mid{
	padding-left: 35%;
	font-weight: bolder;
	font-size: 1.5em;
}
.cent{
	text-align: center;
	font-weight: bolder;
}
.backDrop{
	background-color: #5154D0;
}
h4 span{
	font-size: 1.3em;
}
.title{
	text-align: center;
	color: #282773;
	margin-bottom: 0;
}
.popphoto{
	height: 5em;
	border:3px solid #252773;
}
h5{
	color: #5154D0;
	width: 105%;
	font-weight: bolder;
	font-size: 1em;
	/*text-align: center;*/
}
.data{
	color: #252773;
	font-weight: bold;
}
.data1{
	color: white;
	font-weight: bold;
}
.bor{
	border: .5em solid #252773;
}
.center{
	text-align: center;
	margin-bottom: 5%;
}
.smaller{
	font-size: 1em;
}
/*//HIGHLIGHTS PAGE///*/
.data3{
	color: white;
	font-weight: bold;
}
video{
	width:100%;
}
.spaceB{
	margin-bottom: 2em;
}
.dark{
	color: white;
	font-family: "purisa";
}
#vid1,#vid2,#vid3,#vid4,#vid5{
	height: 11em;
	width: 13em;
	border: 3px solid #5154D0;
	margin-left: 15%;
}
/*/////alerts*/
.ui-title{
	color: white;
}
#badAlert{
	color: red!important;
}
.white{
	color: white;
}

/*////inbox*/
#confirm{
	position:absolute;
	top: 30%;
	background-color: #222;
	padding: 5%;
}
