.carousel-indicators .active{
    position: relative;
    left: 15em;
    top: -22em;
    color: blue;
  
}

.carousel-indicators li{
    position: relative;
    left: 15em;
    top: -22em;
    color: blue;
  
}

.carousel-control{
  right:150%;
}
.top{
	margin-top: 22%;
}
.b{
	margin-bottom: 30%!important;
	
}
#stu{
	width: 100%;
	height: auto;
	border:1px solid grey;
	border-radius: 15px;
}