/* Set the background image sources */
*{
	/*outline: 1px solid red;*/
}
.ui-btn{
	/*background: #2864A9!important;*/
	background-image: none!important;
}
.ui-content{
	margin-top: 22%;
	width: 85%;
	margin-left: 5%;
}

.navbar-default{
	background-color: #252773;
	border-color:#EEEEEE;
}
/*#newyork { background-image: url("../_assets/img/newyork.jpg")!important; }*/
/*#buenosaires { background-image: url("../_assets/img/buenosaires.jpg"); }*/
/*#paris { background-image: url("../_assets/img/paris.jpg"); }*/
/*#capetown { background-image: url("../_assets/img/capetown.jpg"); }*/
#seoul { background-image: url("../_assets/img/seoul.jpg"); }
#sydney { background-image: url("../_assets/img/sydney.jpg"); }
/* Background settings */
.demo-page {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
/* Transparent footer */
.demo-page .ui-footer {
	background: none;
	border: none;
	bottom: 0;
}
/* The footer won't have a height because there are only two absolute positioned elements in it.
So we position the buttons from the bottom. */
.control.ui-btn-left,
.trivia-btn.ui-btn-right {
	top: auto;
	bottom: 7px;
	margin: 0;
}
/* Custom styling for the trivia source */
small {
	font-size: .75em;
	color: #666;
}
.ui-bar-b{
	background:#252773;
  color: #fff;
  text-shadow: 0 1px 0 #3e6790;
  font-weight: bold;
  border-bottom: 2px solid #5154D0;
}
img{
	width: 75%;
	height: auto;
}

.secColor{
	background: #EEEEEE;
}
.report{
	color: #252773;
	text-align: center;
}
.strings{
	color: white;
}
.base{
	color: #EEEEEE;
}
.noPad{
	padding: 0;
}
.goal,.current{
	height: 5em;
}
.prev{
	position: absolute;
	bottom: 90%;
	left: 2%;
}
.next{
	position: absolute;
	left: 90%;
	bottom: 90%
}
.ui-header-fullscreen{
	opacity: 1;
}
#menu,#home,#class,#profile,#help{
	color: #252773;
}
.bottom{
	margin-bottom: 10%;
}
.team{
	color: #2864A9;
	font-size: .6em;
}
.team a:hover{
	color: black;
}
