html,
body{
  font-family: 'URW Gothic L';
  outline: 1px solid red;
  /*background: linear-gradient(to bottom, rgb(29, 31, 44)10%, rgba(29, 31, 44, 0.96)21%, rgba(59,70,124,0.7) ), url(../../image/coach.png),url(../../image/alert1.png);*/
  background-color: #252773;
  height: 100%;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
 /* text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}
a{
  text-decoration: none;
}
#logo1{
  position: relative;
  top:-20em;
  width:95%;
  z-index: 1;
}

#logo2{
  position: relative;
  bottom:-20em;
  width:95%;
  z-index: 2;


}
.sign_in{
  position: absolute;
  bottom: 9em;
  right: 12em;
  width: 5em;
  height: 5em;
  z-index: 0;
  color: #5B5D9B;
  border-radius: 50%;
  border:1px solid white;
  background-color: #5B5D9B;
  display: none;
  font-size: 13px;
}
.welcome1{
  position:absolute;
  bottom:500px;
  font-size: 2em;
  display: none;
}
.welcome2{
  position:absolute;
  bottom:280px;
  left: 142px;
  font-weight:600;
  letter-spacing: 1px;
  font-size: 1.2em;
  display: none;
  z-index: 5;
}
.home{
  font-size: 1.5em;
  position: relative;
  top: 1.2em;
  color: white;
  font-weight: bold;

}

/*mobile warning for index page*/
.mobile-warning{
  color:yellow;
  font-size: 1em;
  font-weight: bold;
}
@media only screen and (max-width: 400px){ 
  .mobile-warning{
    display: none;
  }
} /* min-width 641px, medium screens */
