/*.gpa_head{
	background-color: #2864A9;
}
*/
#oddInbox{
	
	background-color: #7ABEDA;
}
#evenInbox{
	background-color: #BDCFE4;
}
#carat_head{
	background-color: blue;
}
#font-color{
	color: blue;
}
h1{
	font-size: 1.5em;
	text-align: center;
	color: white;
}
#header{
	background-color: #2864A9;
}
.team{
	position: absolute;
	bottom: 0%;
}