.ui-page-theme-a .ui-btn{
    background-color: #4A4E65;
}
#header{

	background-color: #252773;
}

#logo{
	width: 75%;
	height: auto;
}

.oddInbox{
	
	background-color: red;
}

.evenInbox{

	background-color: #2F2B2F;
}

#font-color{
	color: white;
	text-shadow:none;
}

.topic{
	color: blue;
	text-shadow:none;
}

.marB{
	margin-bottom: 20%;
}

p{
	color: white;
	text-shadow:none;
}
.navbar-default{
	background-color: #252773;
}
.team{
	top: 32px;
	position:relative;
	font-size: 8px;
	margin-left: 143px;
	text-decoration: none;
	text-shadow:none;
	color: #8889A7;
}

/*active inbox layout*/

.ui-content .ui-listview{
	margin:0;
}

/*Inside color in all the buttons*/

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{

	background-color: #7001FE;
}
/*Inside Hamburger*/

.ui-page-theme-a .ui-body-inherit{

	text-shadow:none;
	color: #1313DC;
	background-color: #6F377D;


}

