.cen{
	margin-left: 25%;
}
#gpa,#daysB4,#daysMissed,#missedAssign,#pracMiss,#gameDay{
	text-align: center;
	font-size: 1.8em;
}
.switch{
	margin-top: 20%;
}
.top{
	margin-top: 5%; 
}
.midd{
	text-align: center;
}
#increaseGpa{
	
}
.bottom{
	margin-bottom: 30%;
}